*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html,body{
    width: 100%;
    height:100%;
 }

 #mousefollower{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s; 
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: black;
  z-index: 99999;
  border-radius: 50%;
 }
 .bounding {
  width: fit-content;
  overflow: hidden;
  padding-right: 40px;
 
}

.bounding .boundingelem {
  transform: translateY(100%);
}

 #main{
    width: 100%;
    background-color: #897292;
    
 }
 #hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #897292;
    font-family: Arial, Helvetica, sans-serif;
    
    
 }
 #nav{
   width: 100%;
   padding: 20px;
   counter-reset: black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   padding-left: 5%;
   padding-right: 5%;
 }
 #nav a{
   color: #E5E8E8;
   font-size: 15px;
   text-decoration: none;
   font-family:'Times New Roman', Times, serif;   

 }
 #heading{
   margin-top: 4%;
   text-transform: uppercase;
   font-family:'Times New Roman', Times, serif;
   padding-left: 5%;
 }
 #heading h1{
   opacity: .7;
   color: #E5E8E8;
   font-size: 6vw;
   margin-left: 0px;
   font-family:'Times New Roman', Times, serif;
 }
 #heading #h2{

   margin-left: 100px;
   font-family:'Times New Roman', Times, serif;
   padding-left: 5%;
   
 }
 #heading h5{
   color: #1C2833;
   font-family:'Times New Roman', Times, serif;
   font-size: 3vh;
   
 }
 .secondclass {
   width: fit-content;
   font-family:'Times New Roman', Times, serif;
   display: flex;
   align-items: end;
   flex-direction: column;
 }
 .secondclass h5{
   text-align: right;
   opacity: .9;
   font-family:'Times New Roman', Times, serif;
   
 }
 #text2{
   margin-top: 150px;
   
   
 }
 #text2 h4{
   color: #E5E8E8;
   width: 100%;
   text-align: right;
   padding-right: 5%;
   opacity: .8;
   text-transform: uppercase;
   margin-top: .5vw;
   font-size: 4vh;
   font-family:'Times New Roman', Times, serif;
   
 }
#bottomnav {
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  font-family:   Tahoma, sans-serif;

}
#bottomnav a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 100px;
  background-color: #E5E8E8;
}
#bottomnav #iconset{
  display: flex;
  gap: 5px;
  
}
#iconset .circle{
  background-color: #FAF1E4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  
  
}





#secondpage{
  padding-right: 10vw;
  padding-left: 5vw;
  width: 100%;
  height: 160vh;
  background-color: #E5E8E8;
  padding-top: 0px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 4px solid #333;
  border-top: 1px solid #333;

}

.element{
  position: relative;
  
 
  width: 100%;
  border-top: 1px solid black; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  /* border-bottom: 1px solid black; */
  padding-left: 5px;
  


}
.element h1{
  padding-top: 7vh;
  padding-bottom: 7vh;
  font-size: 4vw;
  padding-left: 5vh;
  text-transform: uppercase;
  opacity: .7;
  color: black;
  
  


}
.element img{
  opacity: 0;
  pointer-events: none;
  height: 130%;
  z-index: 999;
  position: absolute;
  border-radius: 10px;
  transform: translate(-80%, -50%);
  
}
.button{
  height: 30px;
  width: 70px;
  background-color: #fff;
  border-radius: 20px;
  
}
.button a{
  text-decoration: none;
  color: black;
}

#portfolio{
  width: 100%;
  height: 80vh;
  background-color: #897292;
  margin-top: 00px;
  display: flex;
    justify-content: center;
    align-items: center;

}
#PRO h5{
  font-size: 4vw;
  display: flex;
  justify-content: left;
  margin-top: -250px;
  background-color: #897292;

  color: #E5E8E8;
  /* margin-left: %; */
  padding-left: 8%;
  height: 20vh;
  padding-top: 5vh;
}
#portfolio1{
  width: 100%;
  height: 60vh;
  background-color: #897292;
  margin-top: 00px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;


}
.card {
  justify-content: center;
  text-align: center;
  
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  
  transition: transform 0.8s ease;
  border-radius: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  background-color: #E5E8E8;
  /* box-shadow: 10px 10px 90px #f5b7b1b2; */
  border-color: 2px #E5E8E8;
}

.card img {
  width: 80%;
  height: 65%;
  margin-top: 0px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
  transform: scale(1.0);
  
  
}
/* 
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #E5E8E8;
  width: 100%;
  box-sizing: border-box;
  transition:  0.3s ease;
} */

h4 {
  margin: 0;
  padding: -20px;
}

label {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  color: #333;
}
.card h5{
  height: 250px;
  font-size: 200px;


}

.card:hover {
  transform: scale(1.02);
}

/* .card:hover img {
  transform: scale(1.07);
} */

.card:hover {
  background-color: #E5E8E8;
 /* transition: background-color 0.3s ease;*/
}
#button1 {
  border-radius: 25px;
  background-color: black;
  color: #FAF9F6;
  width: 120PX;
  height: 50px;
  
   
  
}

#label1{
  margin-bottom: 100px;
}
.card1 {
  justify-content: center;
  text-align: center;
  
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  
  transition: transform 0.8s ease;
  border-radius: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  background-color: #E5E8E8;
  /* box-shadow: 10px 10px 90px #f5b7b1b2; */
  border-color: 2px #E5E8E8;
  margin-left: 30px;
}

.card1 img {
  width: 80%;
  height: 65%;
  margin-top: 0px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
  transform: scale(1.0);
  
  
}
/* 
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #E5E8E8;
  width: 100%;
  box-sizing: border-box;
  transition:  0.3s ease;
} */

h4 {
  margin: 0;
  padding: -20px;
}

label {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  color: #333;
}
.card1 h5{
  height: 250px;
  font-size: 200px;


}

.card1:hover {
  transform: scale(1.02);
}

/* .card1:hover img {
  transform: scale(1.07);
} */

.card1:hover {
  background-color: #E5E8E8;
 /* transition: background-color 0.3s ease;*/
}
#button11 {
  border-radius: 25px;
  background-color: black;
  color: #FAF9F6;
  width: 120PX;
  height: 50px;
  
   
  
}

#label11{
  margin-bottom: 100px;
}


.card12 {
  justify-content: center;
  text-align: center;
  
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  
  transition: transform 0.8s ease;
  border-radius: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  background-color: #E5E8E8;
  /* box-shadow: 10px 10px 90px #f5b7b1b2; */
  border-color: 2px #E5E8E8;
  margin-left: 30px;
}

.card12 img {
  width: 80%;
  height: 65%;
  margin-top: 0px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
  transform: scale(1.0);
  
  
}
/* 
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #E5E8E8;
  width: 100%;
  box-sizing: border-box;
  transition:  0.3s ease;
} */

h4 {
  margin: 0;
  padding: -20px;
}

label {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  color: #333;
}

.card12:hover {
  transform: scale(1.02);
}
.card12 h5{
  height: 250px;
  font-size: 200px;


}

/* .card12:hover img {
  transform: scale(1.07);
} */

.card12:hover {
  background-color: #E5E8E8;
 /* transition: background-color 0.3s ease;*/
}
#button12 {
  border-radius: 25px;
  background-color: black;
  color: #FAF9F6;
  width: 120PX;
  height: 50px;
  
   
  
}

#label12{
  margin-bottom: 100px;
}



.card21 {
  justify-content: center;
  text-align: center;
  
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  
  transition: transform 0.8s ease;
  border-radius: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  background-color: #E5E8E8;
  /* box-shadow: 10px 10px 90px #f5b7b1b2; */
  border-color: 2px #E5E8E8;
  /* margin-left: 30px; */
}

.card21 img {
  width: 80%;
  height: 65%;
  margin-top: 0px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
  transform: scale(1.0);
  /* margin-left: 30px; */
  
}
/* 
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #E5E8E8;
  width: 100%;
  box-sizing: border-box;
  transition:  0.3s ease;
} */

h4 {
  margin: 0;
  padding: -20px;
}

label {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  color: #333;
}

.card21:hover {
  transform: scale(1.02);
}
.card21 h5{
  height: 250px;
  font-size: 200px;


}
/* .card21:hover img {
  transform: scale(1.07);
} */

.card21:hover {
  background-color: #E5E8E8;
 /* transition: background-color 0.3s ease;*/
}
#button21 {
  border-radius: 25px;
  background-color: black;
  color: #FAF9F6;
  width: 120PX;
  height: 50px;
  
   
  
}

#label21{
  margin-bottom: 100px;
}

.card22 {
  justify-content: center;
  text-align: center;
  
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  
  transition: transform 0.8s ease;
  border-radius: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  background-color: #E5E8E8;
  /* box-shadow: 10px 10px 90px #f5b7b1b2; */
  border-color: 2px #E5E8E8;
  margin-left: 30px;
}

.card22 img {
  width: 80%;
  height: 65%;
  margin-top: 0px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
  transform: scale(1.0);
  /* margin-left: 30px; */
  
}
/* 
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #E5E8E8;
  width: 100%;
  box-sizing: border-box;
  transition:  0.3s ease;
} */

h4 {
  margin: 0;
  padding: -20px;
}

label {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  color: #333;
}

.card22:hover {
  transform: scale(1.02);
}

/* .card22:hover img {
  transform: scale(1.07);
} */
.card22 h5{
  height: 250px;
  font-size: 200px;


}

.card22:hover {
  background-color: #E5E8E8;
 /* transition: background-color 0.3s ease;*/
}
#button22 {
  border-radius: 25px;
  background-color: black;
  color: #FAF9F6;
  width: 120PX;
  height: 50px;
  
   
  
}

#label22{
  margin-bottom: 100px;
}


.card23 {
  justify-content: center;
  text-align: center;
  
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  
  transition: transform 0.8s ease;
  border-radius: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  background-color: #E5E8E8;
  /* box-shadow: 10px 10px 90px #f5b7b1b2; */
  border-color: 2px #E5E8E8;
  margin-left: 30px;
}

.card23 img {
  width: 80%;
  height: 65%;
  margin-top: 0px;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
  transform: scale(1.0);
  
  
}
/* 
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #E5E8E8;
  width: 100%;
  box-sizing: border-box;
  transition:  0.3s ease;
} */

h4 {
  margin: 0;
  padding: -20px;
}

label {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px;
  color: #333;
}

.card23:hover {
  transform: scale(1.02);
}
.card23 h5{
  height: 250px;
  font-size: 200px;


}

/* .card23:hover img {
  transform: scale(1.07);
} */

.card23:hover {
  background-color: #E5E8E8;
 /* transition: background-color 0.3s ease;*/
}
#button23 {
  border-radius: 25px;
  background-color: black;
  color: #FAF9F6;
  width: 120PX;
  height: 50px;
  
   
  
}

#label23{
  margin-bottom: 100px;
}


#about{
  width: 100%;
  background-color: #897292;
  height: 80vh;
  color: #E5E8E8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-left: 27vw;
  padding-right: 10vw;
  padding-bottom: 0vw;
  margin-top: 30px;
  font-family:   Arial, Helvetica, sans-serif;
  line-height: 1.5;
  border-bottom: 1px solid #E5E8E8;
  border-top: 1px solid #E5E8E8;
  margin-bottom: 30px;

  
  
  
  
}
#about img{
  height: 18vw;
  border-radius: 50%;
  /* opacity: 0; */

  
  
}
#about-text h5{
  
  text-transform: uppercase;
  margin-bottom: 2%;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  color: #E5E8E8;
}
#about-text p{
  margin-bottom: 5%;
  /* opacity: .2; */
  color: black;
  font-family:'Times New Roman', Times, serif;
  /* font-weight: bold; */
  font-size: 3vh;
  /* opacity: .6; */
  color: #E5E8E8;
}
#about-text a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  
  border: 1px solid #fff;
  padding: 12px 12px;
  border-radius: 100px;
  background-color: #E5E8E8;
  font-family:'Times New Roman', Times, serif


  


}
#subs{
  
  background-color: #897292;
  color: #E5E8E8;
  padding-left: 5vw;
  padding-bottom: 5vw;
  padding-top: 0vw;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 4vh;

  

}
#subs h5{
  text-transform: uppercase;
  color: #E5E8E8;
 
}
#subs a{
  text-decoration: none;
  color: #E5E8E8;
}

#footer{
  width: 100%;
  
  background-color: #897292;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  padding-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
  
}
.time {
  margin-top: 30px;
  font-size: 2em;
  background-color: #333;
  color: #E5E8E8;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
}
#footerleft{
  color: #E5E8E8;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  font-weight: bold;



  
}
#footerright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  color: #DFD3C3;
  margin-bottom: -70px;
  
}
#footerright a{
  color: #E5E8E8;;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  
}
